<header class="site-header">

  <div class="container">
    
    <a href="https://dagronlund.github.io">
      <h1>weaponized_electrons</h1>
    </a>

    <h2></h2>

    <section id="downloads">
      <a href="https://github.com/dagronlund" class="btn btn-github"><span class="icon"></span>Github</a>
      <a href="mailto:dagronlund@gmail.com" class="btn btn-email"><span class="icon"></span>Email</a>
      <a href="{{ site.baseurl }}/about/index.html" class="btn btn-about">About</a>
    </section>
  </div>

</header>
